# OBS Git Ignore
/packages
/BIN
/.vs
/TestResults
/src/OBS.Data/obj
/src/OBS.Data/bin
/src/OBS.Comm/obj
/src/OBS.Comm/bin
/src/OBS.Common/obj
/src/OBS.Common/bin
/src/OBS.VTMS/obj
/src/OBS.VTMS/bin
/src/OBS.Resources/obj
/src/OBS.Resources/bin
/src/OBS.MVMS/obj
/src/OBS.MVMS/bin
/src/OBS.SharedComponents/obj
/src/OBS.SharedComponents/bin
/src/OBS.Domain/obj
/src/OBS.Domain/bin
/src/OBS.LocalizationService/obj
/src/OBS.LocalizationService/bin
/src/OBS.LogService/obj
/src/OBS.LogService/bin
/src/OBS.ConfigurationService/obj
/src/OBS.ConfigurationService/bin
/src/OBS.ExportService/obj
/src/OBS.ExportService/bin
/src/OBS.ImageService/obj
/src/OBS.ImageService/bin
/src/OBS.PersistenceService/obj
/src/OBS.PersistenceService/bin
/src/OBS.AuthenticationService/obj
/src/OBS.AuthenticationService/bin
/test/OBS.Comm.Tests/obj
/test/OBS.Comm.Tests/bin
/test/OBS.Data.Tests/obj
/test/OBS.Data.Tests/bin
/test/OBS.MVMS.Tests/obj
/test/OBS.MVMS.Tests/bin
/test/OBS.Persistence.Tests/obj
/test/OBS.Persistence.Tests/bin
/test/OBS.VTMS.Tests/obj
/test/OBS.VTMS.Tests/bin
/test/OBS.LogService.Tests/obj
/test/OBS.LogService.Tests/bin
/test/OBS.ExportService.Tests/obj
/test/OBS.ExportService.Tests/bin
/test/OBS.PersistenceService.Tests/bin
/test/OBS.PersistenceService.Tests/obj
/test/OBS.AuthenticationService.Tests/bin
/test/OBS.AuthenticationService.Tests/obj
/test/Obs.Common.Tests/bin
/test/Obs.Common.Tests/obj
/test/Obs.ConfigurationService.Tests/bin
/test/Obs.ConfigurationService.Tests/obj
/test/Obs.ImageService.Tests/bin
/test/Obs.ImageService.Tests/obj
/test/OBS.Domain.Tests/bin
/test/OBS.Domain.Tests/obj
/test/OBS.SharedComponents.Tests/bin
/test/OBS.SharedComponents.Tests/obj

*.suo
*.user
*.cache
*.orig

